<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>If you are reading this, the server works</h1>

        <% for (const array of tables) { %>
            <table class="table table-striped">
                <tr>
                    <% for (const key in array[0]) { %>
                        <th scope="col">
                            <%= key %>
                        </th>
                    <% } %>
                </tr>
                
                <% array.forEach(element => { %>
                    <tr>
                        <% for (const key in element) { %>
                            <td>
                                <%= element[key] %>
                            </td>
                        <% } %>
                    </tr>
                <% }) %>
            </table>
        <% } %>

        <p><a href="admin">Test admin view</a></p>
        <p></p><a href="manager">Test manager view</a></p>
        <p></p><a href="user">Test user view</a></p>
    </div>
    </body>
</html>